.login-box {
  width: 100vw;
  height: 100vh;
  background: url('http://b-ssl.duitang.com/uploads/item/201505/06/20150506110244_mX3eA.jpeg') no-repeat;
  background-size: cover;
}
.login-form {
  padding: 35px;
  position: fixed;
  background: #fff;
  right: 150px;
  top: 30%;
  width: 400px;
  height: 280px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.login-form button {
  margin-right: 5%;
}
